* {
  margin: 0;
  padding: 0;

  user-select: none;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  cursor: url(../assets/img/elan32.png), auto;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(34, 34, 34);
}

/* -----------------------------Header------------------------------------------ */
#CatchMe {
  color: rgb(17, 0, 255);
}
#CatchHover {
  display: none;
  color: rgb(17, 0, 255);
  text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0),
    0 -2px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0),
    1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}

#arabe {
  position: absolute;
  bottom: -30px;
  left: -62px;
  width: 143px;
  transform: rotate(329deg);
}
#chapeau {
  position: absolute;
  bottom: 23px;
  left: 1290px;
  width: 143px;
  transform: rotate(348deg);
}
#chapeau:hover {
  animation: rotation 0.1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#frange {
  position: absolute;
  transition: 0.4s;
  top: -83px;
  left: -57px;
  width: 108px;
  transform: scaleX(-1) rotate(222deg);
  z-index: 20;
}
#frange:hover {
  transition: 0.4s;
  top: -27px;
  left: -2px;
  transform: scaleX(-1) rotate(222deg);
}

header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#spanHead {
  border: 5px solid rgb(34, 34, 34);
  width: 74%;
  border-radius: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../assets/img/quebec.jpg);
  background-size: contain;
}
#spanHead:hover #CatchMe {
  display: none;
}
#spanHead:hover #CatchHover {
  display: inline;
}
/* ------------------------Section----------------------------- */

section {
  display: flex;
  margin-top: 48px;
  justify-content: flex-start;
}

#data {
  width: 275px;
  height: 738px;
  background: url(../assets/img/caribouData.png);
  border: 5px solid rgb(143, 143, 143);
  background-clip: padding-box;
  color: rgb(48, 48, 48);
  text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2vw;
  border-radius: 10px;
  margin-left: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#leaderboard {
  color: red;
  overflow: scroll;
  border: #000000 1px solid;
  width: 270px;
  height: 100px;
  text-shadow:none;
  font-size: large;
}

#board {
  position: relative;
  margin-left: 18px;
  width: 1181px;
  height: 738px;
  border-radius: 10px;
  border: 5px solid rgb(255, 0, 0);
  background: url(../assets/videos/canadian-flag-canada.gif);
  background-size: contain;
  cursor: url(../assets/img/green.png), auto;
}
#target {
  width: 50px;
  position: relative;
  transition: 1s;
  display: none;
  animation: rotation 2s infinite linear;
}

/* #groupeBoard{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
} */

#divDor {
  width: 1181px;
  position: absolute;
  top: -50px;
}
#divDor2 {
  width: 1181px;
  position: absolute;
  bottom: -55px;
}

#cddor {
  animation: traveling 5s infinite, rotation 1s infinite linear;
  position: relative;
  width: 50px;
  height: 50px;
}
#cddor2 {
  animation: traveling2 5s infinite, rotation 1s infinite linear;
  position: relative;
  width: 50px;
  height: 50px;
}

@keyframes traveling {
  0% {
    left: 0px;
  }
  50% {
    left: 1150px;
  }
  100% {
    left: 0px;
  }
}
@keyframes traveling2 {
  0% {
    left: 1150px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 1150px;
  }
}

#settings {
  position: absolute;
  width: 202px;
  height: 738px;
  background-color: rgba(255, 0, 0, 0.377);
  border: 3px solid rgb(143, 143, 143);
  border-radius: 10px;
  right: -212px;
  transition: 0.4s;
}

#arrow {
  position: absolute;
  font-size: 45px;
  color: rgb(143, 143, 143);
  transform: scaleX(-1);
  left: -28px;
  top: -19px;
  transition: 0.4s;
}

/* #arrow:hover{
    left: -47px;
    transition: .4s;
} */

/* ------------------------Settings----------------------------- */

.targets {
  height: 100px;
  margin: 10px;
}

.txt-settings {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

#character-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



