#main {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  width: 15px;
  height: 15px;
  position: relative;
}

#table {
  width: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  transform: rotate(4deg);
  margin-left: -77px;
  margin-top: 201px;
}

#bombcs {
  position: fixed;
}

p {
  color: red;
  position: relative;
  margin-left: -38px;
  margin-top: 96px;
  transform: rotate(4deg);
}
